<!-- app/views/layouts/_sidebar.html.erb -->
<div class="sidebar">
  <!-- Message Icon -->
  <div class="sidebar-item">
    <a href="#">
      <i class="fa fa-envelope message-icon"></i>
    </a>
  </div>
  <hr>

  <!-- Servers List -->
  <div class="servers-list">
    <% @servers.each do |server| %>
      <div class="server-item">
        <a href="#"><%= server.name %></a>
      </div>
    <% end %>
  </div>
  <hr>

  <!-- Create Server Option -->
  <div class="sidebar-item create-server">
    <a href="#">
      <i class="fa fa-plus create-server-icon"></i>
    </a>
  </div>
</div>